<div>
    {{#each beers}} <!-- loop through the array of beers -->
<p>{{name}}</p> <!-- my locahost3000 is going to display the name of every beer -->
<img src="{{image_url}}" alt="beer image"/>
<ul>
<li>{{tagline}}</li>
</ul>
<p>{{description}}</p> 
    {{/each}} <!-- closing the loop  -->
</div>