
<div>
<img src="/images/beer.png" alt="beer image"/> 

<a href="/beers"><button class='button'>Check the beers!</button></a>


<a href="/random-beers"><button class='button'>Check a random beer!</button></a>
</div>



